html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #000;
}

.container {
  min-height: 100%;
  background-color: #1c7430;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-flow: column;
}

.text-start, .text-finish {
  opacity: 0.85; 
  color: #fff;
}
.text-start {
  font: 28px "Open Sans", "sans-serif";
  letter-spacing: 0.2px;
}

.text-finish {
  font: 24px "Open Sans", "sans-serif";
  letter-spacing: 0.15px;
  line-height: 35px;
}

button {
  width: 144px;
  height: 42px;

  opacity: 0.85;
  background: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;

  font: 16px "Open Sans", "sans-serif";
  color: #1c7430;
  letter-spacing: 0;

  cursor: pointer;

  margin-top: 10%;
  margin-bottom: 15%;
  
  transition: transform 1s;
  -webkit-transition: transform 1s;
}

button:hover {
  box-shadow: 0px 0px 10px 10px #144c20;
}

img {
  max-width: 100%;
  height: auto;
}
